<a href="https://colab.research.google.com/github/X4Zero/SISTEMAS_DE_RECOMENDACION/blob/master/SistemaRecomendacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SISTEMAS DE RECOMENDACIÓN
Primera semana en Hackspace, el primer proyecto que desarrollaré será un sistema de recomendación.  
[Enlace del tutorial](https://www.datacamp.com/community/tutorials/recommender-systems-python)

De acuerdo al tutorial hay 3 tipos de sistemas de recomendación, los cuales son:


*   Recomendadores simples: básicamente hablando de películas recomiendan aquellas con mejores resultados en críticas, pues tienen mayor probabilidad de gustarle al público promedio
*   Recomendadores basados en contenido: usan metadatos de items anteriores que han gustado a los usuarios, teniendo la idea de que a los usuarios les gustarán items similares a los que le han gustado antes.
*   Motores de filtrado colaborativo: predicen la preferencia o  puntuación de un usuario sobre un item en base a preferencias o puntuaciones de otros usuarios.

## DATASET
Contiene metadata de 45000 películas. Full MovieLens Dataset.

El dataset contiene:


*   movies_metadata.csv: This file contains information on ~45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, genre, revenue, release dates, languages, production countries, and companies.
*   keywords.csv: Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.
*   credits.csv: Consists of Cast and Crew Information for all the movies. Available in the form of a stringified JSON Object.
*   links.csv: This file contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset.
*   links_small.csv: Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.
*   ratings_small.csv: The subset of 100,000 ratings from 700 users on 9,000 movies.


[Enlace del dataset completo](https://grouplens.org/datasets/movielens/latest/)

[Enlace del dataset usado para el trabajo](https://www.kaggle.com/rounakbanik/the-movies-dataset/data)

## RECOMENDADOR SIMPLE

In [1]:
# Import Pandas
import pandas as pd
import matplotlib.pyplot as plt

# Load Movies Metadata
metadata = pd.read_csv('/content/drive/My Drive/Colab Notebooks/HACKSPACE/SEMANA1/The_Movies_Dataset/movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [2]:
registros, columnas = metadata.shape
print("{} registros".format(registros))
print("{} columnas".format(columnas))

45466 registros
24 columnas

Since you are trying to build a clone of IMDB's Top 250, let's use its weighted rating formula as a metric/score. Mathematically, it is represented as follows:

\begin{equation}
\text Weighted Rating (\bf WR) = \left({{\bf v} \over {\bf v} + {\bf m}} \cdot R\right) + \left({{\bf m} \over {\bf v} + {\bf m}} \cdot C\right)
\end{equation}

In the above equation,

v is the number of votes for the movie;

m is the minimum votes required to be listed in the chart;

R is the average rating of the movie;

C is the mean vote across the whole report.

You already have the values to v (vote_count) and R (vote_average) for each movie in the dataset. It is also possible to directly calculate C from this data.

In [3]:
# Calculate mean of vote average column
# La calificación promedio para una película en IMDB es de 5.61 en una escala de 0 a 10
C = metadata['vote_average'].mean()
print(C)

5.618207215133889

In [4]:
# Calculate the minimum number of votes required to be in the chart, m
# el número de votos recibidos por la película en el percentil 90
m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

In [5]:
# estadísticas sobre la cantidad de votos
metadata['vote_count'].describe()

count    45460.000000
mean       109.897338
std        491.310374
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [6]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [7]:
metadata.shape

(45466, 24)

In [8]:
# Calcular el puntaje para cada película dentro de las seleccionadas
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [9]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [10]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715
18465                 The Intouchables      5410.0           8.2  8.125837
40251                       Your Name.      1030.0           8.5  8.112532
289             Leon: The Professional      4293.0           8.2  8.107234
3030                    The Green Mile      4166.0           8.2  8.104511
1170                        GoodFellas      3211.0           8.2  8.077459

Podemos ver que hay varias coincidencias con los primeros puestos del top 250 de IMDB y el top 20 de películas resultado del recomendador simple

## RECOMENDADOR BASADO EN CONTENIDO

In [11]:
#Print plot overviews of the first 5 movies.
#descripción de la trama de las películas
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [12]:
metadata

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [13]:
# subset de películas 
metadata_subset = metadata[0:25000].copy()

In [14]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata_subset['overview'] = metadata_subset['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata_subset['overview'])

#Output the shape of tfidf_matrix
print(tfidf_matrix.shape)

print("{} películas, {} palabras".format(tfidf_matrix.shape[0],tfidf_matrix.shape[1]))

(25000, 53130)
25000 películas, 53130 palabras

In [15]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['bertsolari',
 'berwick',
 'beryl',
 'berylune',
 'berzan',
 'berzano',
 'besa',
 'besco',
 'beseeches',
 'beseiged']

In [16]:
tfidf_matrix.shape

(25000, 53130)

Calculamos el puntaje de similaridad usando

In [17]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
cosine_sim.shape

(25000, 25000)

In [19]:
cosine_sim[1]

array([0.01586868, 1.        , 0.04878944, ..., 0.01340316, 0.        ,
       0.        ])

In [20]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata_subset.index, index=metadata_subset['title']).drop_duplicates()

In [21]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [22]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [23]:
metadata_subset[metadata_subset['title'].str.contains('The Dark Knight',na=False)]['title']

12481                            The Dark Knight
18252                      The Dark Knight Rises
19792    Batman: The Dark Knight Returns, Part 1
20232    Batman: The Dark Knight Returns, Part 2
Name: title, dtype: object

Este sistema hace un buen trabajo encontrando películas con una descripción similar de la trama, aunque la calidad de estas recomendaciones no es tan buena."The Dark Knight Rises" nos retorna todas las películas de batman, mientras que es más probable que las personas a las que les gustaron la película se encuentren más inclinados a disfrutar otras películas del mismo director, Christopher Nolan

In [24]:
get_recommendations('The Dark Knight')

18252                                The Dark Knight Rises
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
21194    Batman Unmasked: The Psychology of the Dark Kn...
20232              Batman: The Dark Knight Returns, Part 2
150                                         Batman Forever
19792              Batman: The Dark Knight Returns, Part 1
585                                                 Batman
18035                                     Batman: Year One
9230                    Batman Beyond: Return of the Joker
Name: title, dtype: object

In [25]:
get_recommendations('The Godfather')

1178      The Godfather: Part II
1914     The Godfather: Part III
23126                 Blood Ties
11297           Household Saints
10821                   Election
17729          Short Sharp Shock
8653                Violent City
13177               I Am the Law
6977             Queen of Hearts
6711                    Mobsters
Name: title, dtype: object

In [26]:
get_recommendations('Toy Story')

15348                    Toy Story 3
2997                     Toy Story 2
10301         The 40 Year Old Virgin
24523                      Small Fry
23843    Andy Hardy's Blonde Trouble
8327                       The Champ
1071           Rebel Without a Cause
11399         For Your Consideration
1932                       Condorman
21359       Andy Hardy's Double Life
Name: title, dtype: object