<a href="https://colab.research.google.com/github/X4Zero/SISTEMAS_DE_RECOMENDACION/blob/master/SistemaRecomendacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SISTEMAS DE RECOMENDACIÓN
Primera semana en Hackspace, el primer proyecto que desarrollaré será un sistema de recomendación.  
[Enlace del tutorial](https://www.datacamp.com/community/tutorials/recommender-systems-python)

De acuerdo al tutorial hay 3 tipos de sistemas de recomendación, los cuales son:


*   Recomendadores simples: básicamente hablando de películas recomiendan aquellas con mejores resultados en críticas, pues tienen mayor probabilidad de gustarle al público promedio
*   Recomendadores basados en contenido: usan metadatos de items anteriores que han gustado a los usuarios, teniendo la idea de que a los usuarios les gustarán items similares a los que le han gustado antes.
*   Motores de filtrado colaborativo: predicen la preferencia o  puntuación de un usuario sobre un item en base a preferencias o puntuaciones de otros usuarios.

## DATASET
Contiene metadata de 45000 películas. Full MovieLens Dataset.

El dataset contiene:


*   movies_metadata.csv: This file contains information on ~45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, genre, revenue, release dates, languages, production countries, and companies.
*   keywords.csv: Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.
*   credits.csv: Consists of Cast and Crew Information for all the movies. Available in the form of a stringified JSON Object.
*   links.csv: This file contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset.
*   links_small.csv: Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.
*   ratings_small.csv: The subset of 100,000 ratings from 700 users on 9,000 movies.


[Enlace del dataset completo](https://grouplens.org/datasets/movielens/latest/)

[Enlace del dataset usado para el trabajo](https://www.kaggle.com/rounakbanik/the-movies-dataset/data)

## RECOMENDADOR SIMPLE

In [1]:
# Import Pandas
import pandas as pd
import matplotlib.pyplot as plt

# Load Movies Metadata
ruta_base = '/content/drive/My Drive/Colab Notebooks/HACKSPACE/SEMANA1/The_Movies_Dataset/'
metadata = pd.read_csv(ruta_base+'movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
registros, columnas = metadata.shape
print("{} registros".format(registros))
print("{} columnas".format(columnas))

45466 registros
24 columnas

Since you are trying to build a clone of IMDB's Top 250, let's use its weighted rating formula as a metric/score. Mathematically, it is represented as follows:

\begin{equation}
\text Weighted Rating (\bf WR) = \left({{\bf v} \over {\bf v} + {\bf m}} \cdot R\right) + \left({{\bf m} \over {\bf v} + {\bf m}} \cdot C\right)
\end{equation}

In the above equation,

v is the number of votes for the movie;

m is the minimum votes required to be listed in the chart;

R is the average rating of the movie;

C is the mean vote across the whole report.

You already have the values to v (vote_count) and R (vote_average) for each movie in the dataset. It is also possible to directly calculate C from this data.

In [ ]:
# Calculate mean of vote average column
# La calificación promedio para una película en IMDB es de 5.61 en una escala de 0 a 10
C = metadata['vote_average'].mean()
print(C)

5.618207215133889

In [ ]:
# Calculate the minimum number of votes required to be in the chart, m
# el número de votos recibidos por la película en el percentil 90
m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

In [ ]:
# estadísticas sobre la cantidad de votos
metadata['vote_count'].describe()

count    45460.000000
mean       109.897338
std        491.310374
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [ ]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [ ]:
metadata.shape

(45466, 24)

In [ ]:
# Calcular el puntaje para cada película dentro de las seleccionadas
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [ ]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715
18465                 The Intouchables      5410.0           8.2  8.125837
40251                       Your Name.      1030.0           8.5  8.112532
289             Leon: The Professional      4293.0           8.2  8.107234
3030                    The Green Mile      4166.0           8.2  8.104511
1170                        GoodFellas      3211.0           8.2  8.077459

Podemos ver que hay varias coincidencias con los primeros puestos del top 250 de IMDB y el top 20 de películas resultado del recomendador simple

## RECOMENDADOR BASADO EN CONTENIDO

In [ ]:
#Print plot overviews of the first 5 movies.
#descripción de la trama de las películas
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
metadata

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [ ]:
# subset de películas 
metadata_subset = metadata[0:25000].copy()

In [ ]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata_subset['overview'] = metadata_subset['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata_subset['overview'])

#Output the shape of tfidf_matrix
print(tfidf_matrix.shape)

print("{} películas, {} palabras".format(tfidf_matrix.shape[0],tfidf_matrix.shape[1]))

(25000, 53130)
25000 películas, 53130 palabras

In [ ]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['bertsolari',
 'berwick',
 'beryl',
 'berylune',
 'berzan',
 'berzano',
 'besa',
 'besco',
 'beseeches',
 'beseiged']

In [ ]:
tfidf_matrix.shape

(25000, 53130)

Calculamos el puntaje de similaridad usando

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim.shape

(25000, 25000)

In [ ]:
cosine_sim[1]

array([0.01586868, 1.        , 0.04878944, ..., 0.01340316, 0.        ,
       0.        ])

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata_subset.index, index=metadata_subset['title']).drop_duplicates()

In [ ]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [ ]:
metadata_subset[metadata_subset['title'].str.contains('The Dark Knight',na=False)]['title']

12481                            The Dark Knight
18252                      The Dark Knight Rises
19792    Batman: The Dark Knight Returns, Part 1
20232    Batman: The Dark Knight Returns, Part 2
Name: title, dtype: object

Este sistema hace un buen trabajo encontrando películas con una descripción similar de la trama, aunque la calidad de estas recomendaciones no es tan buena."The Dark Knight Rises" nos retorna todas las películas de batman, mientras que es más probable que las personas a las que les gustaron la película se encuentren más inclinados a disfrutar otras películas del mismo director, Christopher Nolan

In [ ]:
get_recommendations('The Dark Knight')

18252                                The Dark Knight Rises
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
21194    Batman Unmasked: The Psychology of the Dark Kn...
20232              Batman: The Dark Knight Returns, Part 2
150                                         Batman Forever
19792              Batman: The Dark Knight Returns, Part 1
585                                                 Batman
18035                                     Batman: Year One
9230                    Batman Beyond: Return of the Joker
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather')

1178      The Godfather: Part II
1914     The Godfather: Part III
23126                 Blood Ties
11297           Household Saints
10821                   Election
17729          Short Sharp Shock
8653                Violent City
13177               I Am the Law
6977             Queen of Hearts
6711                    Mobsters
Name: title, dtype: object

In [ ]:
get_recommendations('Toy Story')

15348                    Toy Story 3
2997                     Toy Story 2
10301         The 40 Year Old Virgin
24523                      Small Fry
23843    Andy Hardy's Blonde Trouble
8327                       The Champ
1071           Rebel Without a Cause
11399         For Your Consideration
1932                       Condorman
21359       Andy Hardy's Double Life
Name: title, dtype: object

## RECOMENDADOR BASADO EN CRÉDITOS, GÉNEROS Y PALABRAS CLAVE

In [ ]:
# Load keywords and credits
credits = pd.read_csv(ruta_base + 'credits.csv')
keywords = pd.read_csv(ruta_base + 'keywords.csv')

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [ ]:
# Print the first two movies of your newly merged metadata
metadata.head(2)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...

[2 rows x 27 columns]

In [ ]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [ ]:
# Import Numpy
import numpy as np

In [ ]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [ ]:
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [ ]:
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [Animation, Comedy, Family]
1           Jumanji  ...  [Adventure, Fantasy, Family]
2  Grumpier Old Men  ...             [Romance, Comedy]

[3 rows x 5 columns]

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [ ]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [animation, comedy, family]
1           Jumanji  ...  [adventure, fantasy, family]
2  Grumpier Old Men  ...             [romance, comedy]

[3 rows x 5 columns]

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [ ]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [ ]:
metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [ ]:
#usaremos solo una parte de las películas, por problemas con la memoria Ram
metadata_subset = metadata[:25000].copy()

In [ ]:
metadata_subset['soup']

0        jealousy toy boy tomhanks timallen donrickles ...
1        boardgame disappearance basedonchildren'sbook ...
2        fishing bestfriend duringcreditsstinger walter...
3        basedonnovel interracialrelationship singlemot...
4        baby midlifecrisis confidence stevemartin dian...
                               ...
24995    musical englishchannel swimmer estherwilliams ...
24996    hell basedonsong,poemorrhyme salvatorepapa art...
24997     tonyabatemarco scottadsit mattbesser seanmere...
24998    prison bankrobbery fingerprints sidneytoler ma...
24999                     davidspade keithtruesdell comedy
Name: soup, Length: 25000, dtype: object

In [ ]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
# count_matrix = count.fit_transform(metadata['soup'])
count_matrix = count.fit_transform(metadata_subset['soup'])

In [ ]:
count_matrix.shape

(25000, 44442)

In [ ]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
# Reset index of your main DataFrame and construct reverse mapping as before
# metadata = metadata.reset_index()
# indices = pd.Series(metadata.index, index=metadata['title'])
metadata_subset = metadata_subset.reset_index()
indices = pd.Series(metadata_subset.index, index=metadata_subset['title'])

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations_sub(title, cosine_sim=cosine_sim2):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata_subset['title'].iloc[movie_indices]

In [ ]:
get_recommendations_sub('The Dark Knight Rises', cosine_sim2)

12589      The Dark Knight
10210        Batman Begins
9311                Shiner
9874       Amongst Friends
7772              Mitchell
516      Romeo Is Bleeding
11463         The Prestige
24090            Quicksand
10853       Helter Skelter
18940            Last Exit
Name: title, dtype: object

In [ ]:
get_recommendations_sub('The Godfather', cosine_sim2)

In [ ]:
get_recommendations_sub('Toy Story', cosine_sim2)

In [ ]:
get_recommendations_sub('Superman', cosine_sim2)

In [ ]:
metadata_subset[metadata_subset['title'].str.contains('Superman',na=False)]['title']

## Preparación del Sistema Recomendador Basado en contenido para pasar a una app web en flask

In [2]:
# Import Pandas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load Movies Metadata
ruta_base = '/content/drive/My Drive/Colab Notebooks/HACKSPACE/SEMANA1/The_Movies_Dataset/'
metadata_prod = pd.read_csv(ruta_base+'movies_metadata.csv', low_memory=False)

# Load keywords and credits
credits = pd.read_csv(ruta_base + 'credits.csv')
keywords = pd.read_csv(ruta_base + 'keywords.csv')

# Remove rows with bad IDs.
metadata_prod = metadata_prod.drop([19730, 29503, 35587])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata_prod['id'] = metadata_prod['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata_prod = metadata_prod.merge(credits, on='id')
metadata_prod = metadata_prod.merge(keywords, on='id')

In [37]:
########################
# FUNCIONES NECESARIAS #
########################

def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan


def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

def get_list_value(x,col_value):
    if isinstance(x, list):
        names = [i[col_value] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        # if len(names) > 3:
        #     names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []


# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''
  

def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])


# Function that takes in movie title as input and outputs most similar movies
def obtener_recomendaciones(title, cosine_sim,indices,df):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [4]:
############################
# PREPARACION DE LOS DATOS #
############################

# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata_prod[feature] = metadata_prod[feature].apply(literal_eval)


# Define new director, cast, genres and keywords features that are in a suitable form.
metadata_prod['director'] = metadata_prod['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata_prod[feature] = metadata_prod[feature].apply(get_list)


# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata_prod[feature] = metadata_prod[feature].apply(clean_data)


# Create a new soup feature
metadata_prod['soup'] = metadata_prod.apply(create_soup, axis=1)

Por problemas de memoria, no se trabajará con las 45000 películas, sino se utilizará una parte de estos datos

In [149]:
# Número de películas en total
print('Número de Películas: {}'.format(metadata_prod.shape[0]))

metadata_prod['release_date'] = pd.to_datetime(metadata_prod['release_date'])
metadata_prod = metadata_prod[metadata_prod['release_date']>'1994-01-01']
numero_peliculas = metadata_prod.shape[0]
print('Número de Películas después de 1990: {}'.format(numero_peliculas))
metadata_prod = metadata_prod.reset_index()
#Aún ocupan

Número de Películas: 28656
Número de Películas después de 1990: 28656

In [150]:
metadata_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28656 entries, 0 to 28655
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  28656 non-null  int64
 1   adult                  28656 non-null  object
 2   belongs_to_collection  2760 non-null   object
 3   budget                 28656 non-null  object
 4   genres                 28656 non-null  object
 5   homepage               7642 non-null   object
 6   id                     28656 non-null  int64
 7   imdb_id                28645 non-null  object
 8   original_language      28650 non-null  object
 9   original_title         28656 non-null  object
 10  overview               28010 non-null  object
 11  popularity             28656 non-null  object
 12  poster_path            28417 non-null  object
 13  production_companies   28656 non-null  object
 14  production_countries   28656 non-null  object
 15  release_date           28656 non-null  datetime64[ns]
 16  revenue                28656 non-null  float64
 17  runtime                28485 non-null  float64
 18  spoken_languages       28656 non-null  object
 19  status                 28590 non-null  object
 20  tagline                12104 non-null  object
 21  title                  28656 non-null  object
 22  video                  28656 non-null  object
 23  vote_average           28656 non-null  float64
 24  vote_count             28656 non-null  float64
 25  cast                   28656 non-null  object
 26  crew                   28656 non-null  object
 27  keywords               28656 non-null  object
 28  director               28656 non-null  object
 29  soup                   28656 non-null  object
 30  lang                   28656 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(2), object(24)
memory usage: 6.8+ MB

### Exploración de los lenguajes

In [151]:
metadata_prod['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
28651             [{'iso_639_1': 'en', 'name': 'English'}]
28652             [{'iso_639_1': 'en', 'name': 'English'}]
28653                    [{'iso_639_1': 'tl', 'name': ''}]
28654             [{'iso_639_1': 'en', 'name': 'English'}]
28655             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 28656, dtype: object

In [243]:
# print('Data de películas - lenguajes:\n{}'.format(metadata_prod['spoken_languages'].to_string()))

In [153]:
metadata_prod.shape

(28656, 31)

In [186]:
metadata_prod.iloc[28541]

index                                                                46447
adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                                                    [romance, drama]
homepage                                                               NaN
id                                                                  182981
imdb_id                                                          tt2352044
original_language                                                       nl
original_title                                                   Nude Area
overview                 Naomi, a fifteen year-old Dutch girl from Sout...
popularity                                                        0.420688
poster_path                               /lcMorF1nIvnO4Zq3BG6YRc8MKkO.jpg
production_companies     [{'name': 'Canal+', 'id': 5358}, {'name': 'App...
production_countries     [{'iso_3166_1': 'NL', 'name': 'Netherlands'}, ...
release_date                                           2014-06-01 00:00:00
revenue                                                                  0
runtime                                                                 73
spoken_languages              [{'iso_639_1': 'xx', 'name': 'No Language'}]
status                                                            Released
tagline                                                                NaN
title                                                            Nude Area
video                                                                False
vote_average                                                             5
vote_count                                                               2
cast                           [sammyboonstra, imaanhammam, benjamindewit]
crew                     [{'credit_id': '52fe4c929251416c7511ea9d', 'de...
keywords                                                   [womandirector]
director                                                   urszulaantoniak
soup                     womandirector sammyboonstra imaanhammam benjam...
lang                          [{'iso_639_1': 'xx', 'name': 'No Language'}]
Name: 28541, dtype: object

In [177]:
ruta_lenguajes = '/'.join(ruta_base.split('/')[:-2])+'/languages.csv'
df_lenguajes = pd.read_csv(ruta_lenguajes)
df_lenguajes.head(5)

  ISO language name Native name (endonym) 639-1
0         Abkhazian  аҧсуа бызшәа, аҧсшәа    ab
1              Afar                Afaraf    aa
2         Afrikaans             Afrikaans    af
3              Akan                  Akan    ak
4          Albanian                 Shqip    sq

In [178]:
print('Aún hay {} películas en el dataset'.format(metadata_prod.shape[0]))

Aún hay 28656 películas en el dataset

In [179]:
# obtenemos los codigos iso de los lenguajes
liso = metadata_prod['lang'].apply(lambda x: get_list_value(x,'iso_639_1')).values.tolist()
df_liso = pd.DataFrame(liso)

# filtramos para tener los códigos iso de los lenguajes sin que se repitan
lista_lenguajes = []

for col in apd.columns:
  lista_lenguajes += list(df_liso[col].unique())

set_lenguajes = set(lista_lenguajes)

codigos_lenguajes = list(set_lenguajes)
codigos_lenguajes.remove(None)

cantidad_codigos_lenguajes = len(codigos_lenguajes)
print("Hay {} códigos iso de lenguajes".format(cantidad_codigos_lenguajes))

Hay 129 códigos iso de lenguajes

In [180]:
codigos_lenguajes

['dz',
 'af',
 'bn',
 'ro',
 'nl',
 'ce',
 'bo',
 'id',
 'iu',
 'eu',
 'pl',
 'et',
 'fi',
 'sw',
 'el',
 'ms',
 'ko',
 'bm',
 'fy',
 'xx',
 'jv',
 'tr',
 'ku',
 'da',
 'bi',
 'sr',
 'he',
 'ki',
 'km',
 'ky',
 'tl',
 'de',
 'tn',
 'se',
 'sq',
 'st',
 'tt',
 'az',
 'ny',
 'no',
 'mt',
 'hy',
 'my',
 'cs',
 'gl',
 'ru',
 'lo',
 'fr',
 'mi',
 'sg',
 'uz',
 'sv',
 'ht',
 'kn',
 'wo',
 'sm',
 'hi',
 'lb',
 'oc',
 'ur',
 'as',
 'cr',
 'be',
 'en',
 'xh',
 'ha',
 'ar',
 'zu',
 'ab',
 'mn',
 'sl',
 'is',
 'gn',
 'lv',
 'yi',
 'lt',
 'es',
 'nv',
 'si',
 'to',
 'am',
 'vi',
 'ga',
 'gu',
 'ln',
 'ta',
 'pa',
 'hr',
 'sc',
 'cn',
 'sa',
 'ca',
 'ml',
 'th',
 'mk',
 'rw',
 'tk',
 'bs',
 'zh',
 'tg',
 'fa',
 'la',
 'qu',
 'kw',
 'uk',
 'gd',
 'cy',
 'sh',
 'fo',
 'ja',
 'kk',
 'nb',
 'ay',
 'eo',
 'sk',
 'pt',
 'bg',
 'co',
 'ka',
 'ne',
 'so',
 'ig',
 'te',
 'hu',
 'ug',
 'ps',
 'mr',
 'br',
 'it']

In [181]:
df_lenguajes = df_lenguajes.set_index('639-1').iloc[:]
df_lenguajes.columns = ['ISO language name','Native name']

In [187]:
diccionario_lenguajes = df_lenguajes.to_dict('index')
# es necesario agregar xx
diccionario_lenguajes['xx'] = {'ISO language name':'No Language','Native name':''}
diccionario_lenguajes['cn'] = {'ISO language name':'Cantonés estándar','Native name':'广州话 / 廣州話'}
diccionario_lenguajes['sh'] = {'ISO language name':'No Language','Native name':''}
diccionario_lenguajes

{'aa': {'ISO language name': 'Afar', 'Native name': 'Afaraf'},
 'ab': {'ISO language name': 'Abkhazian',
  'Native name': 'аҧсуа бызшәа, аҧсшәа'},
 'ae': {'ISO language name': 'Avestan', 'Native name': 'avesta'},
 'af': {'ISO language name': 'Afrikaans', 'Native name': 'Afrikaans'},
 'ak': {'ISO language name': 'Akan', 'Native name': 'Akan'},
 'am': {'ISO language name': 'Amharic', 'Native name': 'አማርኛ'},
 'an': {'ISO language name': 'Aragonese', 'Native name': 'aragonés'},
 'ar': {'ISO language name': 'Arabic', 'Native name': 'العربية'},
 'as': {'ISO language name': 'Assamese', 'Native name': 'অসমীয়া'},
 'av': {'ISO language name': 'Avaric',
  'Native name': 'авар мацӀ, магӀарул мацӀ'},
 'ay': {'ISO language name': 'Aymara', 'Native name': 'aymar aru'},
 'az': {'ISO language name': 'Azerbaijani', 'Native name': 'azərbaycan dili'},
 'ba': {'ISO language name': 'Bashkir', 'Native name': 'башҡорт теле'},
 'be': {'ISO language name': 'Belarusian', 'Native name': 'беларуская мова'},
 'bg': {'ISO language name': 'Bulgarian', 'Native name': 'български език'},
 'bh': {'ISO language name': 'Bihari languages', 'Native name': 'भोजपुरी'},
 'bi': {'ISO language name': 'Bislama', 'Native name': 'Bislama'},
 'bm': {'ISO language name': 'Bambara', 'Native name': 'bamanankan'},
 'bn': {'ISO language name': 'Bengali', 'Native name': 'বাংলা'},
 'bo': {'ISO language name': 'Tibetan', 'Native name': 'བོད་ཡིག'},
 'br': {'ISO language name': 'Breton', 'Native name': 'brezhoneg'},
 'bs': {'ISO language name': 'Bosnian', 'Native name': 'bosanski jezik'},
 'ca': {'ISO language name': 'Catalan, Valencian',
  'Native name': 'català, valencià'},
 'ce': {'ISO language name': 'Chechen', 'Native name': 'нохчийн мотт'},
 'ch': {'ISO language name': 'Chamorro', 'Native name': 'Chamoru'},
 'cn': {'ISO language name': 'Cantonés estándar', 'Native name': '广州话 / 廣州話'},
 'co': {'ISO language name': 'Corsican', 'Native name': 'corsu, lingua corsa'},
 'cr': {'ISO language name': 'Cree', 'Native name': 'ᓀᐦᐃᔭᐍᐏᐣ'},
 'cs': {'ISO language name': 'Czech', 'Native name': 'čeština, český jazyk'},
 'cu': {'ISO language name': 'Church Slavic, Old Slavonic, Church Slavonic, Old Bulgarian, Old Church Slavonic',
  'Native name': 'ѩзыкъ словѣньскъ'},
 'cv': {'ISO language name': 'Chuvash', 'Native name': 'чӑваш чӗлхи'},
 'cy': {'ISO language name': 'Welsh', 'Native name': 'Cymraeg'},
 'da': {'ISO language name': 'Danish', 'Native name': 'dansk'},
 'de': {'ISO language name': 'German', 'Native name': 'Deutsch'},
 'dv': {'ISO language name': 'Divehi, Dhivehi, Maldivian',
  'Native name': 'ދިވެހި'},
 'dz': {'ISO language name': 'Dzongkha', 'Native name': 'རྫོང་ཁ'},
 'ee': {'ISO language name': 'Ewe', 'Native name': 'Eʋegbe'},
 'el': {'ISO language name': 'Greek, Modern (1453–)',
  'Native name': 'ελληνικά'},
 'en': {'ISO language name': 'English', 'Native name': 'English'},
 'eo': {'ISO language name': 'Esperanto', 'Native name': 'Esperanto'},
 'es': {'ISO language name': 'Spanish, Castilian', 'Native name': 'Español'},
 'et': {'ISO language name': 'Estonian', 'Native name': 'eesti, eesti keel'},
 'eu': {'ISO language name': 'Basque', 'Native name': 'euskara, euskera'},
 'fa': {'ISO language name': 'Persian', 'Native name': 'فارسی'},
 'ff': {'ISO language name': 'Fulah',
  'Native name': 'Fulfulde, Pulaar, Pular'},
 'fi': {'ISO language name': 'Finnish', 'Native name': 'suomi, suomen kieli'},
 'fj': {'ISO language name': 'Fijian', 'Native name': 'vosa Vakaviti'},
 'fo': {'ISO language name': 'Faroese', 'Native name': 'føroyskt'},
 'fr': {'ISO language name': 'French',
  'Native name': 'français, langue française'},
 'fy': {'ISO language name': 'Western Frisian', 'Native name': 'Frysk'},
 'ga': {'ISO language name': 'Irish', 'Native name': 'Gaeilge'},
 'gd': {'ISO language name': 'Gaelic, Scottish Gaelic',
  'Native name': 'Gàidhlig'},
 'gl': {'ISO language name': 'Galician', 'Native name': 'Galego'},
 'gn': {'ISO language name': 'Guarani', 'Native name': "Avañe'ẽ"},
 'gu': {'ISO language name': 'Gujarati', 'Native name': 'ગુજરાતી'},
 'gv': {'ISO language name': 'Manx', 'Native name': 'Gaelg, Gailck'},
 'ha': {'ISO language name': 'Hausa', 'Native name': '(Hausa) هَوُسَ'},
 'he': {'ISO language name': 'Hebrew', 'Native name': 'עברית'},
 'hi': {'ISO language name': 'Hindi', 'Native name': 'हिन्दी, हिंदी'},
 'ho': {'ISO language name': 'Hiri Motu', 'Native name': 'Hiri Motu'},
 'hr': {'ISO language name': 'Croatian', 'Native name': 'hrvatski jezik'},
 'ht': {'ISO language name': 'Haitian, Haitian Creole',
  'Native name': 'Kreyòl ayisyen'},
 'hu': {'ISO language name': 'Hungarian', 'Native name': 'magyar'},
 'hy': {'ISO language name': 'Armenian', 'Native name': 'Հայերեն'},
 'hz': {'ISO language name': 'Herero', 'Native name': 'Otjiherero'},
 'ia': {'ISO language name': 'Interlingua (International Auxiliary Language Association)',
  'Native name': 'Interlingua'},
 'id': {'ISO language name': 'Indonesian', 'Native name': 'Bahasa Indonesia'},
 'ie': {'ISO language name': 'Interlingue, Occidental',
  'Native name': '(originally:) Occidental, (after WWII:) Interlingue'},
 'ig': {'ISO language name': 'Igbo', 'Native name': 'Asụsụ Igbo'},
 'ii': {'ISO language name': 'Sichuan Yi, Nuosu',
  'Native name': 'ꆈꌠ꒿ Nuosuhxop'},
 'ik': {'ISO language name': 'Inupiaq', 'Native name': 'Iñupiaq, Iñupiatun'},
 'io': {'ISO language name': 'Ido', 'Native name': 'Ido'},
 'is': {'ISO language name': 'Icelandic', 'Native name': 'Íslenska'},
 'it': {'ISO language name': 'Italian', 'Native name': 'Italiano'},
 'iu': {'ISO language name': 'Inuktitut', 'Native name': 'ᐃᓄᒃᑎᑐᑦ'},
 'ja': {'ISO language name': 'Japanese', 'Native name': '日本語 (にほんご)'},
 'jv': {'ISO language name': 'Javanese', 'Native name': 'ꦧꦱꦗꦮ, Basa Jawa'},
 'ka': {'ISO language name': 'Georgian', 'Native name': 'ქართული'},
 'kg': {'ISO language name': 'Kongo', 'Native name': 'Kikongo'},
 'ki': {'ISO language name': 'Kikuyu, Gikuyu', 'Native name': 'Gĩkũyũ'},
 'kj': {'ISO language name': 'Kuanyama, Kwanyama', 'Native name': 'Kuanyama'},
 'kk': {'ISO language name': 'Kazakh', 'Native name': 'қазақ тілі'},
 'kl': {'ISO language name': 'Kalaallisut, Greenlandic',
  'Native name': 'kalaallisut, kalaallit oqaasii'},
 'km': {'ISO language name': 'Central Khmer',
  'Native name': 'ខ្មែរ, ខេមរភាសា, ភាសាខ្មែរ'},
 'kn': {'ISO language name': 'Kannada', 'Native name': 'ಕನ್ನಡ'},
 'ko': {'ISO language name': 'Korean', 'Native name': '한국어'},
 'kr': {'ISO language name': 'Kanuri', 'Native name': 'Kanuri'},
 'ks': {'ISO language name': 'Kashmiri',
  'Native name': 'कश्मीरी, كشميري\u200e'},
 'ku': {'ISO language name': 'Kurdish', 'Native name': 'Kurdî, کوردی\u200e'},
 'kv': {'ISO language name': 'Komi', 'Native name': 'коми кыв'},
 'kw': {'ISO language name': 'Cornish', 'Native name': 'Kernewek'},
 'ky': {'ISO language name': 'Kirghiz, Kyrgyz',
  'Native name': 'Кыргызча, Кыргыз тили'},
 'la': {'ISO language name': 'Latin', 'Native name': 'latine, lingua latina'},
 'lb': {'ISO language name': 'Luxembourgish, Letzeburgesch',
  'Native name': 'Lëtzebuergesch'},
 'lg': {'ISO language name': 'Ganda', 'Native name': 'Luganda'},
 'li': {'ISO language name': 'Limburgan, Limburger, Limburgish',
  'Native name': 'Limburgs'},
 'ln': {'ISO language name': 'Lingala', 'Native name': 'Lingála'},
 'lo': {'ISO language name': 'Lao', 'Native name': 'ພາສາລາວ'},
 'lt': {'ISO language name': 'Lithuanian', 'Native name': 'lietuvių kalba'},
 'lu': {'ISO language name': 'Luba-Katanga', 'Native name': 'Kiluba'},
 'lv': {'ISO language name': 'Latvian', 'Native name': 'latviešu valoda'},
 'mg': {'ISO language name': 'Malagasy', 'Native name': 'fiteny malagasy'},
 'mh': {'ISO language name': 'Marshallese', 'Native name': 'Kajin M̧ajeļ'},
 'mi': {'ISO language name': 'Maori', 'Native name': 'te reo Māori'},
 'mk': {'ISO language name': 'Macedonian', 'Native name': 'македонски јазик'},
 'ml': {'ISO language name': 'Malayalam', 'Native name': 'മലയാളം'},
 'mn': {'ISO language name': 'Mongolian', 'Native name': 'Монгол хэл'},
 'mr': {'ISO language name': 'Marathi', 'Native name': 'मराठी'},
 'ms': {'ISO language name': 'Malay',
  'Native name': 'Bahasa Melayu, بهاس ملايو\u200e'},
 'mt': {'ISO language name': 'Maltese', 'Native name': 'Malti'},
 'my': {'ISO language name': 'Burmese', 'Native name': 'ဗမာစာ'},
 'na': {'ISO language name': 'Nauru', 'Native name': 'Dorerin Naoero'},
 'nb': {'ISO language name': 'Norwegian Bokmål',
  'Native name': 'Norsk Bokmål'},
 'nd': {'ISO language name': 'North Ndebele', 'Native name': 'isiNdebele'},
 'ne': {'ISO language name': 'Nepali', 'Native name': 'नेपाली'},
 'ng': {'ISO language name': 'Ndonga', 'Native name': 'Owambo'},
 'nl': {'ISO language name': 'Dutch, Flemish',
  'Native name': 'Nederlands, Vlaams'},
 'nn': {'ISO language name': 'Norwegian Nynorsk',
  'Native name': 'Norsk Nynorsk'},
 'no': {'ISO language name': 'Norwegian', 'Native name': 'Norsk'},
 'nr': {'ISO language name': 'South Ndebele', 'Native name': 'isiNdebele'},
 'nv': {'ISO language name': 'Navajo, Navaho', 'Native name': 'Diné bizaad'},
 'ny': {'ISO language name': 'Chichewa, Chewa, Nyanja',
  'Native name': 'chiCheŵa, chinyanja'},
 'oc': {'ISO language name': 'Occitan', 'Native name': "occitan, lenga d'òc"},
 'oj': {'ISO language name': 'Ojibwa', 'Native name': 'ᐊᓂᔑᓈᐯᒧᐎᓐ'},
 'om': {'ISO language name': 'Oromo', 'Native name': 'Afaan Oromoo'},
 'or': {'ISO language name': 'Oriya', 'Native name': 'ଓଡ଼ିଆ'},
 'os': {'ISO language name': 'Ossetian, Ossetic', 'Native name': 'ирон æвзаг'},
 'pa': {'ISO language name': 'Punjabi, Panjabi',
  'Native name': 'ਪੰਜਾਬੀ, پنجابی\u200e'},
 'pi': {'ISO language name': 'Pali', 'Native name': 'पालि, पाळि'},
 'pl': {'ISO language name': 'Polish',
  'Native name': 'język polski, polszczyzna'},
 'ps': {'ISO language name': 'Pashto, Pushto', 'Native name': 'پښتو'},
 'pt': {'ISO language name': 'Portuguese', 'Native name': 'Português'},
 'qu': {'ISO language name': 'Quechua', 'Native name': 'Runa Simi, Kichwa'},
 'rm': {'ISO language name': 'Romansh', 'Native name': 'Rumantsch Grischun'},
 'rn': {'ISO language name': 'Rundi', 'Native name': 'Ikirundi'},
 'ro': {'ISO language name': 'Romanian, Moldavian, Moldovan',
  'Native name': 'Română'},
 'ru': {'ISO language name': 'Russian', 'Native name': 'русский'},
 'rw': {'ISO language name': 'Kinyarwanda', 'Native name': 'Ikinyarwanda'},
 'sa': {'ISO language name': 'Sanskrit', 'Native name': 'संस्कृतम्'},
 'sc': {'ISO language name': 'Sardinian', 'Native name': 'sardu'},
 'sd': {'ISO language name': 'Sindhi',
  'Native name': 'सिन्धी, سنڌي، سندھی\u200e'},
 'se': {'ISO language name': 'Northern Sami',
  'Native name': 'Davvisámegiella'},
 'sg': {'ISO language name': 'Sango', 'Native name': 'yângâ tî sängö'},
 'sh': {'ISO language name': 'No Language', 'Native name': ''},
 'si': {'ISO language name': 'Sinhala, Sinhalese', 'Native name': 'සිංහල'},
 'sk': {'ISO language name': 'Slovak',
  'Native name': 'Slovenčina, Slovenský Jazyk'},
 'sl': {'ISO language name': 'Slovenian',
  'Native name': 'Slovenski Jezik, Slovenščina'},
 'sm': {'ISO language name': 'Samoan', 'Native name': "gagana fa'a Samoa"},
 'sn': {'ISO language name': 'Shona', 'Native name': 'chiShona'},
 'so': {'ISO language name': 'Somali',
  'Native name': 'Soomaaliga, af Soomaali'},
 'sq': {'ISO language name': 'Albanian', 'Native name': 'Shqip'},
 'sr': {'ISO language name': 'Serbian', 'Native name': 'српски језик'},
 'ss': {'ISO language name': 'Swati', 'Native name': 'SiSwati'},
 'st': {'ISO language name': 'Southern Sotho', 'Native name': 'Sesotho'},
 'su': {'ISO language name': 'Sundanese', 'Native name': 'Basa Sunda'},
 'sv': {'ISO language name': 'Swedish', 'Native name': 'Svenska'},
 'sw': {'ISO language name': 'Swahili', 'Native name': 'Kiswahili'},
 'ta': {'ISO language name': 'Tamil', 'Native name': 'தமிழ்'},
 'te': {'ISO language name': 'Telugu', 'Native name': 'తెలుగు'},
 'tg': {'ISO language name': 'Tajik',
  'Native name': 'тоҷикӣ, toçikī, تاجیکی\u200e'},
 'th': {'ISO language name': 'Thai', 'Native name': 'ไทย'},
 'ti': {'ISO language name': 'Tigrinya', 'Native name': 'ትግርኛ'},
 'tk': {'ISO language name': 'Turkmen', 'Native name': 'Türkmen, Түркмен'},
 'tl': {'ISO language name': 'Tagalog', 'Native name': 'Wikang Tagalog'},
 'tn': {'ISO language name': 'Tswana', 'Native name': 'Setswana'},
 'to': {'ISO language name': 'Tonga (Tonga Islands)',
  'Native name': 'Faka Tonga'},
 'tr': {'ISO language name': 'Turkish', 'Native name': 'Türkçe'},
 'ts': {'ISO language name': 'Tsonga', 'Native name': 'Xitsonga'},
 'tt': {'ISO language name': 'Tatar', 'Native name': 'татар теле, tatar tele'},
 'tw': {'ISO language name': 'Twi', 'Native name': 'Twi'},
 'ty': {'ISO language name': 'Tahitian', 'Native name': 'Reo Tahiti'},
 'ug': {'ISO language name': 'Uighur, Uyghur',
  'Native name': 'ئۇيغۇرچە\u200e, Uyghurche'},
 'uk': {'ISO language name': 'Ukrainian', 'Native name': 'Українська'},
 'ur': {'ISO language name': 'Urdu', 'Native name': 'اردو'},
 'uz': {'ISO language name': 'Uzbek',
  'Native name': 'Oʻzbek, Ўзбек, أۇزبېك\u200e'},
 've': {'ISO language name': 'Venda', 'Native name': 'Tshivenḓa'},
 'vi': {'ISO language name': 'Vietnamese', 'Native name': 'Tiếng Việt'},
 'vo': {'ISO language name': 'Volapük', 'Native name': 'Volapük'},
 'wa': {'ISO language name': 'Walloon', 'Native name': 'Walon'},
 'wo': {'ISO language name': 'Wolof', 'Native name': 'Wollof'},
 'xh': {'ISO language name': 'Xhosa', 'Native name': 'isiXhosa'},
 'xx': {'ISO language name': 'No Language', 'Native name': ''},
 'yi': {'ISO language name': 'Yiddish', 'Native name': 'ייִדיש'},
 'yo': {'ISO language name': 'Yoruba', 'Native name': 'Yorùbá'},
 'za': {'ISO language name': 'Zhuang, Chuang',
  'Native name': 'Saɯ cueŋƅ, Saw cuengh'},
 'zh': {'ISO language name': 'Chinese',
  'Native name': '中文 (Zhōngwén), 汉语, 漢語'},
 'zu': {'ISO language name': 'Zulu', 'Native name': 'isiZulu'}}

In [188]:
df_liso

       0     1     2     3     4     5   ...    13    14    15    16    17    18
0      en  None  None  None  None  None  ...  None  None  None  None  None  None
1      en    fr  None  None  None  None  ...  None  None  None  None  None  None
2      en  None  None  None  None  None  ...  None  None  None  None  None  None
3      en  None  None  None  None  None  ...  None  None  None  None  None  None
4      en  None  None  None  None  None  ...  None  None  None  None  None  None
...    ..   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
28651  en  None  None  None  None  None  ...  None  None  None  None  None  None
28652  en  None  None  None  None  None  ...  None  None  None  None  None  None
28653  tl  None  None  None  None  None  ...  None  None  None  None  None  None
28654  en  None  None  None  None  None  ...  None  None  None  None  None  None
28655  en  None  None  None  None  None  ...  None  None  None  None  None  None

[28656 rows x 19 columns]

In [189]:
df_liso['posicion'] = df_liso.index.values

In [190]:
df_liso_pro = df_liso.melt(id_vars='posicion').drop('variable',1)
df_liso_pro

        posicion value
0              0    en
1              1    en
2              2    en
3              3    en
4              4    en
...          ...   ...
544459     28651  None
544460     28652  None
544461     28653  None
544462     28654  None
544463     28655  None

[544464 rows x 2 columns]

In [191]:
posicion_v_lenguaje = pd.crosstab(df_liso_pro['posicion'],df_liso_pro['value'])
posicion_v_lenguaje

value     ab  af  am  ar  as  ay  az  be  ...  uz  vi  wo  xh  xx  yi  zh  zu
posicion                                  ...
0          0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
1          0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
2          0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
3          0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
4          0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
...       ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
28651      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28652      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28653      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28654      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28655      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0

[26102 rows x 129 columns]

In [195]:
# saber que en que lenguajes se encuentran las películas del dataset
for codigo in codigos_lenguajes:
  print('codigo: {}, ISO language name: {}'.format(codigo,diccionario_lenguajes[codigo]['ISO language name']))

codigo: dz, ISO language name: Dzongkha
codigo: af, ISO language name: Afrikaans
codigo: bn, ISO language name: Bengali
codigo: ro, ISO language name: Romanian, Moldavian, Moldovan
codigo: nl, ISO language name: Dutch, Flemish
codigo: ce, ISO language name: Chechen
codigo: bo, ISO language name: Tibetan
codigo: id, ISO language name: Indonesian
codigo: iu, ISO language name: Inuktitut
codigo: eu, ISO language name: Basque
codigo: pl, ISO language name: Polish
codigo: et, ISO language name: Estonian
codigo: fi, ISO language name: Finnish
codigo: sw, ISO language name: Swahili
codigo: el, ISO language name: Greek, Modern (1453–)
codigo: ms, ISO language name: Malay
codigo: ko, ISO language name: Korean
codigo: bm, ISO language name: Bambara
codigo: fy, ISO language name: Western Frisian
codigo: xx, ISO language name: No Language
codigo: jv, ISO language name: Javanese
codigo: tr, ISO language name: Turkish
codigo: ku, ISO language name: Kurdish
codigo: da, ISO language name: Danish
codigo: bi, ISO language name: Bislama
codigo: sr, ISO language name: Serbian
codigo: he, ISO language name: Hebrew
codigo: ki, ISO language name: Kikuyu, Gikuyu
codigo: km, ISO language name: Central Khmer
codigo: ky, ISO language name: Kirghiz, Kyrgyz
codigo: tl, ISO language name: Tagalog
codigo: de, ISO language name: German
codigo: tn, ISO language name: Tswana
codigo: se, ISO language name: Northern Sami
codigo: sq, ISO language name: Albanian
codigo: st, ISO language name: Southern Sotho
codigo: tt, ISO language name: Tatar
codigo: az, ISO language name: Azerbaijani
codigo: ny, ISO language name: Chichewa, Chewa, Nyanja
codigo: no, ISO language name: Norwegian
codigo: mt, ISO language name: Maltese
codigo: hy, ISO language name: Armenian
codigo: my, ISO language name: Burmese
codigo: cs, ISO language name: Czech
codigo: gl, ISO language name: Galician
codigo: ru, ISO language name: Russian
codigo: lo, ISO language name: Lao
codigo: fr, ISO language name: French
codigo: mi, ISO language name: Maori
codigo: sg, ISO language name: Sango
codigo: uz, ISO language name: Uzbek
codigo: sv, ISO language name: Swedish
codigo: ht, ISO language name: Haitian, Haitian Creole
codigo: kn, ISO language name: Kannada
codigo: wo, ISO language name: Wolof
codigo: sm, ISO language name: Samoan
codigo: hi, ISO language name: Hindi
codigo: lb, ISO language name: Luxembourgish, Letzeburgesch
codigo: oc, ISO language name: Occitan
codigo: ur, ISO language name: Urdu
codigo: as, ISO language name: Assamese
codigo: cr, ISO language name: Cree
codigo: be, ISO language name: Belarusian
codigo: en, ISO language name: English
codigo: xh, ISO language name: Xhosa
codigo: ha, ISO language name: Hausa
codigo: ar, ISO language name: Arabic
codigo: zu, ISO language name: Zulu
codigo: ab, ISO language name: Abkhazian
codigo: mn, ISO language name: Mongolian
codigo: sl, ISO language name: Slovenian
codigo: is, ISO language name: Icelandic
codigo: gn, ISO language name: Guarani
codigo: lv, ISO language name: Latvian
codigo: yi, ISO language name: Yiddish
codigo: lt, ISO language name: Lithuanian
codigo: es, ISO language name: Spanish, Castilian
codigo: nv, ISO language name: Navajo, Navaho
codigo: si, ISO language name: Sinhala, Sinhalese
codigo: to, ISO language name: Tonga (Tonga Islands)
codigo: am, ISO language name: Amharic
codigo: vi, ISO language name: Vietnamese
codigo: ga, ISO language name: Irish
codigo: gu, ISO language name: Gujarati
codigo: ln, ISO language name: Lingala
codigo: ta, ISO language name: Tamil
codigo: pa, ISO language name: Punjabi, Panjabi
codigo: hr, ISO language name: Croatian
codigo: sc, ISO language name: Sardinian
codigo: cn, ISO language name: Cantonés estándar
codigo: sa, ISO language name: Sanskrit
codigo: ca, ISO language name: Catalan, Valencian
codigo: ml, ISO language name: Malayalam
codigo: th, ISO language name: Thai
codigo: mk, ISO language name: Macedonian
codigo: rw, ISO language name: Kinyarwanda
codigo: tk, ISO language name: Turkmen
codigo: bs, ISO language name: Bosnian
codigo: zh, ISO language name: Chinese
codigo: tg, ISO language name: Tajik
codigo: fa, ISO language name: Persian
codigo: la, ISO language name: Latin
codigo: qu, ISO language name: Quechua
codigo: kw, ISO language name: Cornish
codigo: uk, ISO language name: Ukrainian
codigo: gd, ISO language name: Gaelic, Scottish Gaelic
codigo: cy, ISO language name: Welsh
codigo: sh, ISO language name: No Language
codigo: fo, ISO language name: Faroese
codigo: ja, ISO language name: Japanese
codigo: kk, ISO language name: Kazakh
codigo: nb, ISO language name: Norwegian Bokmål
codigo: ay, ISO language name: Aymara
codigo: eo, ISO language name: Esperanto
codigo: sk, ISO language name: Slovak
codigo: pt, ISO language name: Portuguese
codigo: bg, ISO language name: Bulgarian
codigo: co, ISO language name: Corsican
codigo: ka, ISO language name: Georgian
codigo: ne, ISO language name: Nepali
codigo: so, ISO language name: Somali
codigo: ig, ISO language name: Igbo
codigo: te, ISO language name: Telugu
codigo: hu, ISO language name: Hungarian
codigo: ug, ISO language name: Uighur, Uyghur
codigo: ps, ISO language name: Pashto, Pushto
codigo: mr, ISO language name: Marathi
codigo: br, ISO language name: Breton
codigo: it, ISO language name: Italian

In [ ]:
['br','te','so']

In [202]:
#prueba con el lenguaje Telugu
posicion_v_lenguaje['te'].sum()

73

In [214]:
#peliculas en el lenguaje Telugu
posicion_v_lenguaje[posicion_v_lenguaje['te']==1]

value     ab  af  am  ar  as  ay  az  be  ...  uz  vi  wo  xh  xx  yi  zh  zu
posicion                                  ...
7132       0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11134      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11320      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11526      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
12260      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
...       ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
27411      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
27448      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
27913      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28202      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28520      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0

[73 rows x 129 columns]

In [237]:
x = posicion_v_lenguaje[posicion_v_lenguaje['te']==1]
indices = x[x.sum(1) == 1].index

In [240]:
lista_indices = list(indices)
lista_indices

[11526,
 12260,
 16138,
 17510,
 19347,
 19512,
 21551,
 21552,
 21737,
 21738,
 21983,
 21984,
 21985,
 21986,
 22089,
 22090,
 22645,
 22646,
 22648,
 22649,
 22650,
 22653,
 22654,
 22655,
 22656,
 22657,
 22658,
 22659,
 22662,
 22663,
 22928,
 22981,
 22982,
 22983,
 22984,
 22985,
 22986,
 22987,
 22988,
 24673,
 24720,
 27383,
 27448,
 27913,
 28202]

In [242]:
metadata_prod.loc[lista_indices]['title']

11526                     Magadheera
12260            Once Upon a Warrior
16138                1 - Nenokkadine
17510                          Aarya
19347                          Vedam
19512                          Manam
21551                           King
21552                           King
21737                         Adhurs
21738                         Adhurs
21983                      100% Love
21984                      100% Love
21985                         Leader
21986                         Leader
22089               Nannaku Prematho
22090               Nannaku Prematho
22645                    Srimanthudu
22646                        Dookudu
22648                         Pokiri
22649                        Khaleja
22650                         Athadu
22653                          Jalsa
22654            Atharintiki Daaredi
22655                   Gabbar Singh
22656                    Race Gurram
22657    Cameraman Ganga Tho Rambabu
22658                         Panjaa
22659                         Julayi
22662                   Vikramarkudu
22663                       Simhadri
22928                    Oosaravelli
22981                           Kick
22982                     Bommarillu
22983                      Arundhati
22984                          Happy
22985                         Parugu
22986                     Happy Days
22987                        Aarya 2
22988                     Desamuduru
24673                 Pelli Choopulu
24720                      Gentleman
27383                        Darling
27448     Nuvvostanante Nenoddantana
27913                  Alluda Majaka
28202                     Mr Perfect
Name: title, dtype: object

In [231]:
posicion_v_lenguaje[posicion_v_lenguaje['te']==1].sum(1)

posicion
7132     3
11134    5
11320    2
11526    1
12260    1
        ..
27411    2
27448    1
27913    1
28202    1
28520    2
Length: 73, dtype: int64

In [218]:
#peliculas en el lenguaje Telugu solo con ese lenguaje
posicion_v_lenguaje.loc[(posicion_v_lenguaje[posicion_v_lenguaje['te']==1].sum(1) == 1).index]

value     ab  af  am  ar  as  ay  az  be  ...  uz  vi  wo  xh  xx  yi  zh  zu
posicion                                  ...
7132       0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11134      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11320      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
11526      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
12260      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
...       ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
27411      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
27448      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
27913      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28202      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0
28520      0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0

[73 rows x 129 columns]

In [206]:

(posicion_v_lenguaje[posicion_v_lenguaje['te']==1].sum(1) == 1).sum()

45

In [112]:
metadata_prod['lang']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
46620             [{'iso_639_1': 'en', 'name': 'English'}]
46621             [{'iso_639_1': 'en', 'name': 'English'}]
46624                    [{'iso_639_1': 'tl', 'name': ''}]
46625             [{'iso_639_1': 'en', 'name': 'English'}]
46627             [{'iso_639_1': 'en', 'name': 'English'}]
Name: lang, Length: 28656, dtype: object

In [102]:
metadata_prod.shape

(28656, 30)

In [101]:
len(liso)

28656

In [27]:
type(metadata_prod['spoken_languages'][0])

str

In [ ]:
metada

In [ ]:
metada

In [ ]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
# count_matrix = count.fit_transform(metadata['soup'])
count_matrix = count.fit_transform(metadata_subset['soup'])


# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)


metadata_subset = metadata_subset.reset_index()
indices = pd.Series(metadata_subset.index, index=metadata_subset['title'])

In [ ]:
metadata_subset['release_date'].describe()

In [ ]:
metadata['release_date'] = pd.to_datetime(metadata['release_date'])

In [ ]:
metadata['title'][metadata['release_date']>'1992-01-01']